@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #d1b49b;
    /* background-image: url(Ambientalize-se/icon/hp.jpg); */
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fbf09e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 1200px;
    width: 100%;
}

.login-container-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.imageIconHealthToday, .logoIconHealthToday {
    width: 300px;
    margin-bottom: 20px;
}

.login-container h2, .login-container h3 {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
    color: #fa9949;
    margin: 10px 0;
}

.login-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    flex: 1;
}

#login-form {
    margin: 20px 0;
}

.login-container-form h4 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #fa9949;
    word-break: break-word;
    margin: 10px 0;
}

.login-container input {
    padding: 10px;
    border: 1px solid #fa9949;
    border-radius: 5px;
    outline: none;
    width: 80%;
    margin: 10px 0;
    box-sizing: border-box;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.login-container button, .login-container a {
    padding: 10px 20px;
    background-color: #fa9949;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin: 5px;
}

.login-container button:hover, .login-container a:hover {
    background-color: #e09b60;
}
